[submodule "src/lib/electron-preferences"]
	path = src/lib/electron-preferences
	url = https://github.com/leon332157/electron-preferences.git
[submodule "src/lib/electron-basic-updater"]
	path = src/lib/electron-basic-updater
	url = https://github.com/leon332157/electron-basic-updater.git
