.dynamic-header, .file-tree, .file-tree-header, .side-nav-options, .libsearch, .libsearch-search-input, .libsearch-header, .livecoding, .livecoding-header, .side-nav-active-pane, .jsx-2421969142, .workspacePreferences, .file-header, .file-header-name, .file-header-format-button, .webview-url-bar, .board-container, #page, .repls-dashboard-recent, .star-toggle-control, .jsx-467725132, .board-nav-order-by-selected, #root, .lite-header, .profile-header, .tab-active, .tab:active, .profile-icon, #root > div > div:nth-child(2) > div:nth-child(1), #root > div > div:nth-child(2) > div:nth-child(1) > h3, #root > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2), #root > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > div, #root > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) > div > div, section.marketingSection, .landing-title, header, .marketing-section-root, .marketing-header-root, #page > div.marketingPage > section.jsx-1355667539.marketingSection > div.jsx-1700174850.landing-search-box > div, #page > div.marketingPage > section.jsx-1355667539.marketingSection > div.jsx-1700174850.landing-search-box > div > div:nth-child(1) > span:nth-child(1) > input, .new-post-modal, .edit-repl, .edit-repl-privacy, .dashboard-search-menu, .dashboard-search-option-label, .dashboard-search-menu-footer, #root > div > div:nth-child(2) > div > div:nth-child(1) > div > div:nth-child(2) > form > div:nth-child(1), .delete-modal-wrapper, .dynamic-header-nav-right > div > div > div:nth-child(2), .post, .widgetContainer, #classroomsPage > div > div > div:nth-child(2) > div a, #classroomsPage > div:first-child > div:first-child > div:nth-child(2) > div:first-child div:first-child, .action-modal, #root > div > div:nth-child(2) > div:nth-child(2) > section:nth-child(3) > section > div:nth-child(2), #root > div > div:nth-child(2) > div:nth-child(2) > section:nth-child(3) > section > div:nth-child(3), #root > div > div:nth-child(2) > div:nth-child(2) > section:nth-child(3) > section > div:nth-child(1), #root > div > div:nth-child(2) > div:nth-child(2) > section:nth-child(3) > section > div:nth-child(1) > *, .not-found, footer, #__next > div, #react-tabs-0, .box, #root > div > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(2) > div, #classroomsPage > div:nth-child(2), .react-tabs__tab-list .react-tabs__tab, #root > div > div:nth-child(2) > div:nth-child(2) > section:nth-child(1) > div > section:nth-child(1), #root > div > div:nth-child(2) > div:nth-child(2) > section:nth-child(1) > div > section:nth-child(1) > div:nth-child(1) > h3 > div > a, #root > div > div:nth-child(2) > div:nth-child(2) > section:nth-child(1) > div > section:nth-child(1) > div:nth-child(1) > h3, .modal-content, .workspace-preferences, body, .docs-sidebar-container, .repls-dashboard-list .replsDashboard-repl-home, #classroomsPage > div > div > div:nth-child(2) > div > div {
    background-color: #232528 !important
}

.side-nav-item-active, .jsx-30497461, .replsDashboard-repl-card-icon, .replsDashboard-repl-card, .jsx-2699242107, .star-toggle, .node-row:hover, .replsDashboard-repl-root:hover, .dynamic-header-nav-item-active, .board-nav-order-by, .ws-header-cta, h3[data-radium="true"], .button-base, .repl-item-wrapper:hover, .dynamic-header-dropdown-nav-items, .dynamic-header-dropdown-option, .dynamic-header-dropdown-menu, form input, form textarea, .static-header, input.jsx-3169500625, #root > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > input, .Select-control, input[type=text], textarea[type=text], .file-tree-dropzone-tooltip, .HistoryRevisionItem__revisionItem:hover, .FileSelector__fileItem:hover, .FileSelector__fileItem--selected, .HistoryRevisionItem__revisionItem--selected, .HistoryRevisionDay__parentWrapper:hover, input.jsx-3927860116, .autoResizeTextarea, .textInput, .language-option, #classroomsPage > div:nth-child(3) > div:nth-child(4) > div:nth-child(3) > div:hover, .RichEditor-code .public-DraftStyleDefault-ltr, .landing-search-box div, .examples div, .multiplayer-game-banner, .contextMenu, button:not(.jsx-3173217138):not(.slick-arrow), textarea, .Select-value-label, #root > div > div:nth-child(2) > div:nth-child(2) > section:nth-child(1) > div > section:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div > div > div, .Select-value, .Select-menu, .Select-menu div, .Select-noresults, .Select-placeholder, .tooltip-wrap-tooltip, .embed-url-bar, .mobileNavShow, .notification-banner, .tooltip-container, code, .jsx-1279517306.expandableSection-sectionTitle.jsx-561167517, .expandableSection-sectionTitle, .repls-dashboard-list .replsDashboard-repl-home:hover, .status-banner {
    background-color: #393c42 !important
}

body, .jsx-1644989226, .dynamic-header-nav-item, .board-content-header-title, .jsx-504746135, .board-post-title, .board-header-description, div.jsx-3064916967 div a, .profile-languages-header, .repl-item-title, input, .button-base, .jsx-2702929484, .dynamic-header-dropdown-option, .board-post-detail-title, .board-post-body, .dashboard-search-option-label-container, .dynamic-header-dropdown-label, textarea, .Select-value-label, h3, form, .post-votes-heading, .comments-header, .profile-no-repls, .profile-header-content, .edit-repl-privacy, .vote-control-active, .comment-page-warning, .profile-comments-post-title, .file-tree-dropzone-tooltip, .HistoryRevisionDay__parentWrapper, .HistoryRevisionItem__revisionItem, .HistorySideBar__fileName, .FileSelector__fileSelector, .expandableSection-sectionTitle, .language-item-name, .repls-dashboard-recent-title, .widgetError, .commentBody, .postTitle *, .details > p > span, .description, .selectedName, .postVotes, .userInfo > .name, .value > span > p > span *, .mergeDescription, .mergeContainer > .title, .details > p > span *, .action-modal-title, .action-modal-body, .static-loading, #root > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > div > a > div:nth-child(2) > div:nth-child(1), #classroomsPage > div:nth-child(3) > div:nth-child(4) > div:nth-child(1), #classroomsPage > div:nth-child(3) > div:nth-child(4) > div:nth-child(3) > div > span, #root > div > div:nth-child(2) > div.customScroll > div > div > div:nth-child(1), h2, #root > div > div:nth-child(2) > div > div:nth-child(3) > div > div > div > label > span:nth-child(2), #root > div > div:nth-child(2) > div > div:nth-child(4) > div > div > span, #root > div > div:nth-child(2) > div > div:nth-child(5) > div > div > span, .ReplsDashboard__noRepls__text, .text span, h1, h2, h3, h4, h5, h6, .docs-sidebar-link, #classroomsPage > div > div > div > div > div:nth-child(1), #react-tabs-2 > span, #react-tabs-0 span, #react-tabs-1 > div > div > div:nth-child(1) > div > span:nth-child(1), .file-tree-heading, .libsearch-heading, a, li, .postCommentCount span, .title, #root > div > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(2) > div > div:nth-child(1), .tabbedList > div, #classroomsPage > div > div > div, #classroomsPage > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(1), #classroomsPage > div > div:nth-child(5) > div:nth-child(1) > span:nth-child(2), .Select-menu, .Select-menu div, .Select-noresults, .tooltip-wrap-tooltip, .docs-sidebar-heading, #root > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1), #root > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) > div > div > a > div:nth-child(2) > div:nth-child(1), .tooltip-container, code, .help-container div, .DiffViewer__guide, .jsx-4023577944 div, #classroomsPage > div > div > div:nth-child(2) > div > div > a > div:nth-child(2) > div:nth-child(1) {
    color: silver !important
}

.d2h-cntx {
    background-color: white
}

p {
    color: #a8a8a8 !important
}

::-webkit-scrollbar, ::-webkit-scrollbar-corner {
    background-color: #232528 !important;
}

::-webkit-scrollbar-thumb {
    background-color: #393c42 !important;
    border-radius: 5px !important;
}

iframe:not(#canny-iframe) {
    border: 1px solid #393c42 !important;
}

header, .mobileNavShow, .board-content-header {
    border-color: #393c42 !important;
}

.dynamic-header, .file-tree, .file-tree-header, .side-nav-options, .libsearch, .libsearch-search-input, .libsearch-header, .livecoding, .livecoding-header, .side-nav-active-pane, .jsx-2421969142, .workspacePreferences, .file-header, .file-header-name, .file-header-format-button, .webview-url-bar, .board-container, #page, .repls-dashboard-recent, .star-toggle-control, .jsx-467725132, .board-nav-order-by-selected, #root, .lite-header, .profile-header, .tab-active, .tab:active, .profile-icon, #root > div > div:nth-child(2) > div:nth-child(1), #root > div > div:nth-child(2) > div:nth-child(1) > h3, #root > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2), #root > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > div, #root > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) > div > div, section.marketingSection, .landing-title, header, .marketing-section-root, .marketing-header-root, #page > div.marketingPage > section.jsx-1355667539.marketingSection > div.jsx-1700174850.landing-search-box > div, #page > div.marketingPage > section.jsx-1355667539.marketingSection > div.jsx-1700174850.landing-search-box > div > div:nth-child(1) > span:nth-child(1) > input, .new-post-modal, .edit-repl, .edit-repl-privacy, .dashboard-search-menu, .dashboard-search-option-label, .dashboard-search-menu-footer, #root > div > div:nth-child(2) > div > div:nth-child(1) > div > div:nth-child(2) > form > div:nth-child(1), .delete-modal-wrapper, .d2h-code-wrapper, .dynamic-header-nav-right > div > div > div:nth-child(2), .post, .widgetContainer, #classroomsPage > div > div > div:nth-child(2) > div a, #classroomsPage > div > div > div:nth-child(2) > div div, .action-modal, #root > div > div:nth-child(2) > div:nth-child(2) > section:nth-child(3) > section > div:nth-child(2), #root > div > div:nth-child(2) > div:nth-child(2) > section:nth-child(3) > section > div:nth-child(3), #root > div > div:nth-child(2) > div:nth-child(2) > section:nth-child(3) > section > div:nth-child(1), #root > div > div:nth-child(2) > div:nth-child(2) > section:nth-child(3) > section > div:nth-child(1) > *, .not-found, footer, #__next > div, .Select-placeholder, #react-tabs-0 {
    background-color: #232528 !important
}

.public-DraftStyleDefault-pre {
    border: 1px solid silver !important;
    padding: 0% !important;
}

code {
    filter: invert(100%) !important
}

.side-nav-item-active, .jsx-330497461, .replsDashboard-repl-card-icon, .replsDashboard-repl-card, .jsx-2699242107, .star-toggle, .node-row:hover, .replsDashboard-repl-root:hover, .dynamic-header-nav-item-active, .board-nav-order-by, .ws-header-cta, h3[data-radium="true"], .button-base, .repl-item-wrapper:hover, .dynamic-header-dropdown-nav-items, .dynamic-header-dropdown-option, .dynamic-header-dropdown-menu, form input, form textarea, .static-header, body, input.jsx-3169500625, #root > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > input, .Select-control, input[type=text], textarea[type=text], .file-tree-dropzone-tooltip, .HistoryRevisionItem__revisionItem:hover, .FileSelector__fileItem:hover, .FileSelector__fileItem--selected, .HistoryRevisionItem__revisionItem--selected, .HistoryRevisionDay__parentWrapper:hover, .expandableSection-sectionTitle, input.jsx-3927860116, .autoResizeTextarea, .textInput, .language-option, #classroomsPage > div:nth-child(3) > div:nth-child(4) > div:nth-child(3) > div:hover, .RichEditor-code .public-DraftStyleDefault-ltr, .nav-link, .docs-sidebar-container, nav {
    background-color: #393c42 !important
}

p {
    color: #a8a8a8 !important
}

body, .jsx-1644989226, .dynamic-header-nav-item, .board-content-header-title, .jsx-504746135, .board-post-title, .board-header-description, div.jsx-3064916967 div a, .profile-languages-header, .repl-item-title, input, .button-base, .jsx-2702929484, .dynamic-header-dropdown-option, .board-post-detail-title, .board-post-body, .dashboard-search-option-label-container, .dynamic-header-dropdown-label, textarea, .Select-value-label, h3, form, .post-votes-heading, .comments-header, .profile-no-repls, .profile-header-content, .edit-repl-privacy, .vote-control-active, .comment-page-warning, .profile-comments-post-title, .file-tree-dropzone-tooltip, .HistoryRevisionDay__parentWrapper, .HistoryRevisionItem__revisionItem, .HistorySideBar__fileName, .FileSelector__fileSelector, .d2h-file-diff, .expandableSection-sectionTitle, .language-item-name, .repls-dashboard-recent-title, .widgetError, .commentBody, .postTitle *, .details > p > span, .description, .selectedName, .postVotes, .userInfo > .name, .value > span > p > span *, .mergeDescription, .mergeContainer > .title, .details > p > span *, .action-modal-title, .action-modal-body, .static-loading, #root > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > div > a > div:nth-child(2) > div:nth-child(1), #classroomsPage > div:nth-child(3) > div:nth-child(4) > div:nth-child(1), #classroomsPage > div:nth-child(3) > div:nth-child(4) > div:nth-child(3) > div > span, #root > div > div:nth-child(2) > div.customScroll > div > div > div:nth-child(1), h2, #root > div > div:nth-child(2) > div > div:nth-child(3) > div > div > div > label > span:nth-child(2), #root > div > div:nth-child(2) > div > div:nth-child(4) > div > div > span, #root > div > div:nth-child(2) > div > div:nth-child(5) > div > div > span, .ReplsDashboard__noRepls__text, .text span, h1, h2, h3, h4, h5, h6, .docs-sidebar-link, #classroomsPage > div > div > div > div > div:nth-child(1), #react-tabs-2 > span, #react-tabs-0 span, #react-tabs-1 > div > div > div:nth-child(1) > div > span:nth-child(1), .file-tree-heading, .libsearch-heading {
    color: silver !important
}

.profile-tab-active {
    color: #eaf1ff !important
}

.profile-hacker-label {
    color: #232528 !important
}

.profile-icon, .dynamic-header, .RichEditor-code {
    border: none !important
}

.dynamic-header-dropdown-nav-items {
    border-color: #232528 !important
}

#page {
    padding-top: 59px
}

footer {
    margin-top: 0 !important
}

.upvote {
    color: #3f403f !important
}

#darkThemeText {
    font-family: Lato;
    color: #393c42 !important;
    font-size: 20px
}

.button-base-kind-confirm {
    border-color: #63C090 !important
}

.profile-hacker-label {
    animation: rainbowColor 5s infinite linear !important
}

.rendered-markdown pre {
    padding: 0 !important
}

#react-tabs-1 > div > div > div:nth-child(1) {
    background-color: #485b4a !important
}

#react-tabs-1 > div > div > div:nth-child(1):hover {
    background-color: #7998a6 !important
}

.jsx-3768271232, .jsx-1988436997, .jsx-4221397789, .jsx-1350117355, a, button {
    transition-duration: 100ms
}

.board-nav-nav-item-active, .multiplayer-game-banner-cta a:not(:hover), .profile-hacker-label, #classroomsPage > div > div:nth-child(5) > div:nth-child(2) > div > span, .repls-dashboard-welcome-actions .btn {
    color: #232528 !important
}
@keyframes rainbowColor {
    0% {
        background-color: #FF1493
    }

    12.5% {
        background-color: red
    }

    25% {
        background-color: orange
    }

    37.5% {
        background-color: #FF0
    }

    50% {
        background-color: #7FFF00
    }

    62.5% {
        background-color: #0FF
    }

    75% {
        background-color: #00F
    }

    87.5% {
        background-color: #9932CC
    }

    100% {
        background-color: #FF1493
    }
}

@keyframes textrainbowColor {
    0% {
        color: #FF1493
    }

    12.5% {
        color: red
    }

    25% {
        color: orange
    }

    37.5% {
        color: #FF0
    }

    50% {
        color: #7FFF00
    }

    62.5% {
        color: #0FF
    }

    75% {
        color: #00F
    }

    87.5% {
        color: #9932CC
    }

    100% {
        color: #FF1493
    }
}

a.jsx-774577553[href="/@ReplTalk"]:not(.user-post-image)::after, a.leaderboard-list-item[href="/@ReplTalk"]::after {
    content: "BOT";
    background-color: #7289DA;
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    padding: 2px;
    border-radius: 3px;
    margin-left: 2px
}


.dynamic-header-logo.jsx-4273308143 img.jsx-4273308143, .logo {
    filter: grayscale(100%) brightness(2.5);
}

.example.jsx-2982526117:hover {
    background: none !important
}

.error.jsx-3462284709 {
    color: white !important;
    background: #232528 !important;
=======
>>>>>>> parent of 83d7976... update dark css
}